%div{class: "marketing"}
  %div{class: "row"}
    %div{class: "span6 offset3"}
      %div{style: "text-align: center;"}
        %form{ action: "", method: :post, class: "form-inline" }
          %fieldset
            %div{class: "control-group"}
              %div{class: "controls"}
                %input{type: :text, name: :site, class: "input-xlarge", style: "height: 30px;"}
                %input{type: "submit", value: "Test", class: "btn btn-success"}
        - if result = locals[:result]
          %h2="#{result}"
