%html
  %head
    %title Classify.it
    %link{href: '/css/bootstrap.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/css/docs.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: '/js/main.js', type: 'text/javascript'}
  %body
    %div{class: "container"}
      %header{class: "jumbotron masthead"}
        %div{class: "inner"}
          %h1 Is it a tech site?
          %p Simply paste a url below and click 'test'...
      =yield
      %div{class: "footer"}
        %p{style: "text-align: center"}
          Why was this built? Check 
          %a{href: "http://carvil.github.com/Programming/2012/04/05/automatic-page-classification-using-artificial-neural-networks/"} my blog
          for more details
